h6,h5
{
    font-variant: small-caps;
    text-transform: capitalize;
}
.contactinfo{
    font-variant: small-caps;
    text-transform: capitalize;
}


#body{
  background-image: url('./Assets/images/background.jpg');
}
#copyright {
    font-size: x-small;
    color: white;
}



