h1
{
   font-size : 60px;
}
h7
{
    font-family:Arial;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    background-image: url('background.jpg');
}

h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

#copyright {
    font-size: x-small;
    color: white;
}

.container {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #7d7a7a;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #7d7a7a;
    padding: 15px;
    background-color: #8DA8C6;
}


label {
    padding: 3px;
    width: 200px;
    float: left;
    text-align: right;
    vertical-align: middle;
    clip: rect(auto, auto, auto, auto);
    color:white;
}

input[type=text] {
    padding: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(102, 102, 102);
    border-left-style: solid;
    border-left-width: 1px;
}


fieldset {
    border-radius: 5px;
    border: 1px solid white;
}

legend {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #666666;
}


#submit {
    color: cornflowerblue;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px 5px;
    border: 1px solid #666666;
    font-variant: small-caps;
    margin-left: 270px;
}

    #submit:hover {
        border-width: medium;
        border-color: #666666;
        border-style: double none double none;
        padding: inherit;
    }
#submission {
    text-align: center;
    display: block
    ;}
    .card{
       text-align: center;
    display: block
    }
    .card-img-top{
      text-align: center;
    display: block
    }