    <div class="container">
        <div class="body">
            <h1><%= title %></h1>
            <div>
                <p>My name is Shuxuan Wu. I am currently a health informatics technology student at Centennial College.
                    <i>Please click here to open my
                        <a href="../Assets/images/resume.pdf" class="link-info">resume</a> </i>
                </p>
            </div>
        </div>
    </div>