    <div class="container">
        <div class="body">
            <h1><%= title %></h1>
            <table>
                <tr>
                    <td>
                        <div>
                            <img src="../Assets/images/photo.jpg" alt="photo" style="height:400px; width:400px">
                        </div>
                    </td>
                    <td>
                    <td style="width:50px;"></td>
                    <div>
                        <p>My name is Shuxuan Wu. </p>
                        <p>I am currently a health informatics technology student at
                            Centennial College.</p>
                        <p><i>Please click here to open my
                                <a href="../Assets/images/resume.pdf" class="link-info">resume</a> </i>
                        </p>
                    </div>
                    </td>
                </tr>
        </div>
    </div>