    <div class="container">
        <div class="body">
            <h1><%= title %></h1>
            <table>
                <tr>
                    <td style="padding: 5em; ">
                        <div>
                            <h3>My name is Shuxuan Wu. </h3>
                            <h5>I am currently a health informatics technology student at
                                Centennial College.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h5>
                            <h5><i>Please click here to open my
                                    <a href="../Assets/images/resume.pdf" class="link-info">resume</a> </i>
                            </h5>
                        </div>
                    </td>
                    <td style="padding: 10em; ">
                        <div>
                            <img src="../Assets/images/photo.jpg" alt="photo" style="height:400px; width:400px">
                        </div>
                    </td>

                </tr>
        </div>
    </div>