    <div class="container">
        <div class="body">
            <p>Welcome to My <%= title %> Page</p>
            <table>
                <tr>
                    <td style="padding: 5em; ">
                        <div>
                            <p>My name is Shuxuan Wu. </p>
                            <p>I am currently a health informatics technology student at
                                Centennial College.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                            <p><i>Please click here to open my
                                    <a href="../Assets/images/resume.pdf" class="link-info">resume</a> </i>
                            </p>
                        </div>
                    </td>
                    <td style="padding: 10em; ">
                        <div>
                            <img src="../Assets/images/photo.jpg" alt="photo" style="height:400px; width:400px">
                        </div>
                    </td>

                </tr>
        </div>
    </div>