    <div class="container">
        <h1><%= title %></h1>
        <div style="margin-left: 590px; margin-right:600px; padding: 20px; width: 300px; height: 1000px;">
            <fieldset>
                <form id="form">
                    <table id="table">
                        <tr>
                            <td class="ers">
                                <div></div>
                            </td>
                            <td>
                                <div></div><label for="firstname">First Name: </label>
                            </td>
                            <td><input id="firstname" name="firstname" type="text" /></td>
                        </tr>

                        <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div><label for="lastname">Last Name:</label>
                            </td>
                            <td><input id="lastname" type="text" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div><label for="text">message: </label>
                            </td>
                            <td><input id="text" type="text" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div><label for="email">Email: </label>
                            </td>
                            <td><input id="email" type="email" /></td>
                        </tr>
                    </table>
                    <hr>
                    <div id="submitFormbutton">
                        <a href="/home">
                            <input id="submitBtn" type="button" value="Send" />
                        </a>
                    </div>
                </form>
        </div>
        </fieldset>
        <p>Contact me using the following details: <br><b>Phone Number:437-3630835. <br>Email:wushuxuan93@gmail.com.</b>
        </p>
    </div>