    <div class="container">
        <h1><%= title %></h1>
        <div>
            <fieldset>
                <form id="form">
                    <table id="table">
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">First Name:</label>
                            <input type="text" class="form-control border-success" id="firstname">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
                            <input type="text" class="form-control border-success" id="lastname">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Message:</label>
                            <input type="text" class="form-control border-success" id="message">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Email:</label>
                            <input type="text" class="form-control border-success" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                    </table>
                    <hr>
                    <button type="button" class="btn btn-outline-secondary">Finished</button>
                </form>
        </div>
        </fieldset>
        <div>
            <div style="margin-left:300px;">
                <img src="../Assets/images/contact.png" alt="photo" style="height:80px; width:80px">
            </div>
            <div style=" float: left; display: inline">
                <h5 id="contactinfo">Contact me using the following details: <br><br>Phone
                    Number:<strong>437-3630835</strong>.
                    <br>Email:<strong>wushuxuan93@gmail.com</strong>.</br>
                </h5>
            </div>
        </div>
    </div>