    <div class="container">
        <h1><%= title %></h1>
        <div>
            <fieldset>
                <form id="form">
                    <table id="table">
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">First Name:</label>
                            <input type="text" class="form-control border-success" id="firstname">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
                            <input type="text" class="form-control border-success" id="lastname">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Message:</label>
                            <input type="text" class="form-control border-success" id="message">
                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label">Email:</label>
                            <input type="text" class="form-control border-success" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>

                    </table>
                    <hr>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <div id="submitFormbutton">
                        <i class="fa-thin fa-cloud-word"></i><a href="/home">
                            <input id="submit" type="button" value="Finished" />
                        </a>
                    </div>
                </form>
        </div>
        </fieldset>
        <h5>Contact me using the following details: <br><b>Phone Number:<strong>437-3630835</strong>.
                <br>Email:<strong>wushuxuan93@gmail.com</strong>.</b>
        </h5>
    </div>