    <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to My <%= title %> Page</p>
        <h6>The mark of the immature man is that he wants to die nobly for a cause,</h6>
        <h6>while the mark of the mature man is that he wants to live humbly for one.</h6>
        <p></p>
        <h6>― J.D. Salinger, The Catcher in the Rye</h6>
    </div>