    <div class="container">
        <h1><%= title %></h1>
        <div style="padding: 5em; margin-left: 10em;">
            <br><br>
            <h6>I would like to share with you my favorite motto:</h6>
            <br>
            <h6>The mark of the immature man is that he wants to die nobly for a cause,</h6>
            <h6>while the mark of the mature man is that he wants to live humbly for one.</h6>
            <br>
            <h6 style="text-align:center">― J.D. Salinger, The Catcher in the Rye</h6><br>
            <img src="../Assets/images/rye.jpg" alt="photo">
            <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github"></i>Find me</button>
        </div>
    </div>