    <div class="container">
        <h1><%= title %></h1>
        <p>My projects are as follows:</p>
        <div class="card-body">
            <p class="card-text">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"><img id="project" src="../Assets/images/bmr.png"
                            style="margin-left: 405px; margin-right: auto; padding-right: 20px;">BMR calculator
                    </font>
                </font>
            </p>
        </div>
    </div>


    <img id="project" src="../Assets/images/survey.jpg"
        style="margin-left: 445px; margin-right: auto; padding-right: 20px;">
    <h3>Survey Form</h3>

    <img id="project" src="../Assets/images/broker.jpg"
        style="margin-left: 240px; margin-right: auto; width: 1000px; height: 500px; padding-right: 20px;">
    <h3>Real Estate website</h3>
    </div>