    <div class="container">
        <h1><%= title %></h1>
        <div class="body">
            <p>My projects are as follows:</p>

            <div>
                <table>
                    <tr>
                        <td style="width:50px;"></td>
                        <td style="width:400px;">
                            <div class="card" style="width: 18rem;height: 10rem;">
                                <img src="../Assets/images/bmr.png" class="card-img-top" alt="BMR_cal">
                                <div class="card-body">
                                    <p class="card-text">BMR Calculator</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:50px;"></td>
                        <td style="width:400px;">
                            <div class="card" style="width: 18rem;height: 10rem;">
                                <img src="../Assets/images/broker.jpg" class="card-img-top" alt="estate">
                                <div class="card-body">
                                    <p class="card-text">Real Estate website</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:50px;"></td>
                        <td style="width:400px;">
                            <div class="card" style="width: 18rem;height: 10rem;">
                                <img src="../Assets/images/survey.jpg" class="card-img-top" alt="survey">
                                <div class="card-body">
                                    <p class="card-text">Survey Form</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>