    <div class="container">
        <p>Welcome to My <%= title %> Page</p>
        <h6>I am able to do work both in frontend and backend, and I am also familiar with healthcare system standard.
        </h6>
        <img src="../Assets/images/web-service-icon.png" alt="photo" style="height:400px; width:400px">
    </div>