<div class="container">
    <h1><%= title %> Business Contacts</h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Name</span>
            <input type="text" class="form-control" placeholder="Enter Contact Name" aria-label="Contacts Name"
                aria-describedby="Contact Name" name="name" value="<%= contacts.Contact_Name %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Number</span>
            <input type="text" class="form-control" placeholder="Enter Contact Number" aria-label="Contacts Number"
                aria-describedby="Contact Number" name="number" value="<%= contacts.Contact_Number %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Email</span>
            <input type="text" class="form-control" placeholder="Enter Contact Email" aria-label="Contacts Email"
                aria-describedby="Contact Email" name="email" value="<%= contacts.Contact_Email %>" required>
        </div>

        <% if(title == "Edit") { %>
        <button type="submit" id="editButton" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <% } else { %>
        <button type="submit" id="addButton" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i>
            Add</button>
        <% } %>

        <a href="/contacts-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo"></i>
            Cancel</a>
</div>
</form>
</div>